*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: "Exo 2", sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #cb2d3e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ef473a, #cb2d3e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ef473a, #cb2d3e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: whitesmoke;
    font-size: 5vw;
    margin-bottom: 10px;
    width: 100%;
    height: 20%;
}
#Inicio{
    position: fixed;
    z-index: 1000;
    margin-bottom: 6vw;
    margin-right: 94vw;
}
#Inicio img,button{
    min-width: 30px;
    width: 4vw;
    height: auto;
}
#busquedad{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
#entrada{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    min-height: 17px;
    max-height: 50px; 

}
input{
    background-color: transparent;
    color: whitesmoke;
    min-width: 259px;
    min-height: 17px;
    width: 35%;
    height: auto;
    margin-right: 2px;
    border: 3px solid whitesmoke;
    border-radius: 4em;
    padding: 0.3em 0.3em;
    margin-bottom: 0.3vw;
    font-size: 1.3vw;
}
::placeholder{
    color: rgba(180, 180, 180, 0.603);
    text-align: center;
}
#entrada img{
    min-height: 23px;
    min-width: 23px;
    width: 2.9vw;
    height: 2.9vw;
    border: 2px solid whitesmoke;
    border-radius: 20px;
}
#entrada button{
    min-height: 23px;
    min-width: 23px;
    width: 2.9vw;
    height: 2.9vw;
}
button{
    background-color: transparent;
    cursor: pointer;
    color: whitesmoke;
}
button:active{
    cursor: default;
    transform: scale(0.9);
}
#filtros{
    border-bottom: 2px solid whitesmoke;
    font-size: 1.3vw;
    font-weight: 600;
    opacity: 1;
}
#botones-filtros{
    display: flex;
    flex-direction: row;
}
.opciones-filtro{
    min-width: 55px;
    width: 30%;
    height: auto;
    border: 3px solid whitesmoke;
    padding: 1em 1em;
    border-radius: 3em;
    font-size: 1.2vw;
    font-weight: 600;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    /*transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;*/
}
.activo{
    background-color: whitesmoke;
    color: black;
}
@media screen and (max-width:780px) {
    #filtros{
        font-size: 10px;
    }
}
@media screen and (max-width:840px) {
    .opciones-filtro{
        font-size: 9px;
    }
}
.productos{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-template-columns: auto auto auto;
    column-gap: 1.5em;
    row-gap: 1.5em;
    padding: 2em 0;
}
.IngredientesPlato{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-template-columns: auto auto auto auto auto;
    column-gap: 1em;
    row-gap: 1em;
    padding: 2em 0;
}
.IngredientesInstrucciones{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-template-columns: auto auto;
    column-gap: 2em;
    row-gap: 1.5em;
    padding: 2em 0;
    margin: 1em;
}
.productospopu{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-template-columns: auto auto auto auto;
    column-gap: 1.3em;
    padding: 2em 0;
}
.tarjeta{
    position: relative;
    max-width: 22em;
    border-radius: 22px;
    background: #ED213A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: 5px solid whitesmoke;
    cursor: pointer;
}
.tarjetapopu{
    position: relative;
    max-width: 18em;
    border-radius: 22px;
    background: #ED213A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: 5px solid whitesmoke;
    cursor: pointer;
}
.prueba{
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    font-size: min(3vw, 33px);
    font-weight:700;
    color:whitesmoke;
}
.Instrucciones{
    text-align: center;
    font-weight: 600;
    color: whitesmoke;
}
.NombreIngrediente{
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    font-size: min(2vw, 20px);
    font-weight:700;
    color:whitesmoke;
}
.imagen-tarjeta{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    margin-bottom: -0.19vw;
    opacity: 0.75;
}
.ImagenPlatoDislay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.ImagenPlato{
    max-width:450px;
    min-width: 200px;
    width: 35vw;
    height: auto;
    border-radius: 20px;
}
@media screen and (max-width:880px) {
    .prueba{
        font-size: 2vw;
    }
}

.encabezado2{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: whitesmoke;
    font-size: 3vw;
}